body {
    font-family: Arial, sans-serif;
}
#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #7494C0;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-window {
    height: 80vh;
    overflow-y: scroll;
    padding: 10px;
}
.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.chat-message.user {
    justify-content: flex-end;
}
.chat-message.bot {
    justify-content: flex-start;
}
.message-text {
    max-width: 70%;
    padding: 10px;
    border-radius: 20px;
}
.user .message-text {
    background-color: #8DE055;
}
.bot .message-text {
    background-color: #EDF1EE;
    border: 1px solid #DDDDDD;
}
.input-group {
    display: flex;
}
.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 80px;
    font-size: larger;
}
.input-group button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: larger;
}